extends ../../_layout

block vars

  - var description = 'Что может быть уютнее, наряднее и радостнее чем уличные фонарики горящие в темноте сквозь припорошенный снег<br>Все: и взрослые и дети с замирающем сердцем смотрят на них и мечтают...<br>Новогодняя уличная иллюминация - это одна из самых важных мест в новогоднем празднике (если имеется возможность ее смонтировать). Не важно это большая уличная ель или просто несколько гирлянд - просто позвольте себе это'


  - var page = {title: 'Уличный декор', url: 'zone/outdoor', type: 'zone-page', class: 'page zone outdoor', content: {desc: description, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/outdoor/outdoor-', qnt: 11}, button: {text: 'Заказать оформление крыльца'}, list2: []};



block content
  +zone-page(page)
