extends ../../_layout

block vars

  - var description = ''

  - var page = {title: '', url: 'styles/traditional_russian', type: 'styles', class: 'page element traditional_russian', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/traditional_russian/traditional_russian-', qnt: 0}, button: {text: 'Заказать русскую ёлку'}, list2: []};


block content
  +element-page(page)
