extends ../../_layout

block vars

  - var description = 'Новый год – это всегда свечи, полумрак, не зря же он приходит в полночь. Красивые композиции со свечами обязательно привнесут праздник и уют в Ваш дом. Иногда они могут заменять настольные композиции.'

  - var page = {title: 'Композиции с подсвечниками и свечами', url: 'element/candles', type: 'element-page', class: 'page element candles', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/candles/candles-', qnt: 17}, button: {text: 'Заказать оформление c подсвечниками и свечами'}, list2: []};


block append meta
  meta(name='description', content='Украшение подсвечниками и свечами, дизайнерские и авторские работы')
  meta(name='keywords', content='свечи, подсвечники')


block content
  +element-page(page)
