extends ../../_layout

block vars

  - var slogan = 'Старинный шик в Вашем доме.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Этот стиль погружает Вас в атмосферу так любимой многими доброй старины. Главная особенность предметов стиля - это явные следы времени (настоящие или сымитированные),  спешащие рассказать зрителю свою историю (настоящую или вымышленную).<br>ОПИСАНИЕ ЁЛКИ<br>Шебби шик – потертый шик, изысканный лоск и антикварный шик в декоре Вашей ёлки.<br>ЭЛЕМЕНТЫ<br>Обычно используются нежные пастельные тона со "сладкими" оттенками, словно выгоревшие на солнце или потускневшие от времени. Знаковые элементы: эффект потертости, кракелюр, декупаж, а также ёлочные изделия ручной работы.'

  - var page = {title: 'Шебби шик', url: 'styles/shebby_shick', type: 'styles', class: 'page style shebby_shick', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/shebby_shick/shebby_shick-', qnt: 11}, button: {text: 'Заказать ёлку в стиле Шебби шик'}, list2: []};


block append meta
  meta(name='description', content='')
  meta(name='keywords', content='застаренный шик, шебби шик, shebby shick, shebby')


block content
  +styles(page)
