extends ../../_layout

block vars

  - var description = 'Всегда очень эффектно смотрится. Для глаза – это самая удобная для рассмотрения композиция.  В некоторых помещениях (например, кухня) может выполнять роль центральной композиции. Самое главное – не переборщить.'

  - var page = {title: 'Подвесные композиции (люстры, потолок)', url: 'element/hanging_composition', type: 'element-page', class: 'page element hanging_composition', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/hanging_composition/hanging_composition-', qnt: 15}, button: {text: 'Заказать оформление c подвесными композициями'}, list2: []};


block append meta
  meta(name='description', content='')
  meta(name='keywords', content='люстры, потолок, украшение потолка, новогодние люстры')


block content
  +element-page(page)
