extends ../../_layout

block vars

  - var description = 'Для любого дизайнера наличие лестницы в доме – это всегда большая удача. Красиво задекорированная лестница обязательно будет центром внимания всего дома. Она может быть пышно украшена или лишь добавлены некоторые элементы – но это всегда стиль и шик.'

  - var page = {title: 'Украшение лестницы', url: 'element/stairway', type: 'element-page', class: 'page element stairway', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/stairway/stairway-', qnt: 17}, button: {text: 'Заказать оформление лестниц'}, list2: []};


block append meta
  meta(name='description', content='Украшение лестницы, новогодняя лестница')
  meta(name='keywords', content='лестница, новогодняя лестница, декор лестниц')


block content
  +element-page(page)
