extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Самое главное – натуралистичность.<br>ОБЩЕЕ ОПИСАНИЕ<br>Скандинавский стиль не может не нравиться. Он располагает к себе, излучая необыкновенную легкость, естественность и простоту. Скандинавам не свойственна погоня за роскошью, они отдают предпочтение простому уюту и теплу.<br>ОПИСАНИЕ ЕЛКИ<br>Скандинавский стиль не терпит излишеств и буйства красок и материалов, а вместо живой елки можно сделать ее имитацию из гирлянд или подручных материалов. Украсить ее можно фигурками оленей, флагами разных стран, ангелочками. Скандинавский стиль приветствует светлые оттенки, используйте их для украшения новогодней красавицы Главное – умеренность и простота....<br>ЭЛЕМЕНТЫ<br>Массовое использование природных материалов, фигурки оленей и других животных, шишки, ветки.'

  - var page = {title: 'Скандинавский стиль', url: 'styles/scandinavian', type: 'styles', class: 'page element scandinavian', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/scandinavian/scandinavian-', qnt: 0}, button: {text: 'Заказать ёлку в скандинавском стиле'}, list2: []};


block content
  +element-page(page)
