extends ../../_layout

block vars

  - var slogan = 'Самое главное – натуралистичность.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Скандинавский стиль не может не нравиться. Он располагает к себе, излучая необыкновенную лёгкость, естественность и простоту. Скандинавам не свойственна погоня за роскошью, они отдают предпочтение простому уюту и теплу.<br>ОПИСАНИЕ ЁЛКИ<br>Скандинавский стиль не терпит излишеств и буйства красок и материалов, а вместо живой ёлки можно сделать её имитацию из гирлянд или подручных материалов. Украсить её можно фигурками оленей, флагами разных стран, ангелочками. Скандинавский стиль приветствует светлые оттенки, используйте их для украшения новогодней красавицы. Главное – умеренность и простота....<br>ЭЛЕМЕНТЫ<br>Массовое использование природных материалов, фигурки оленей и других животных, шишки, ветки.'

  - var page = {title: 'Скандинавский стиль', url: 'styles/scandinavian', type: 'styles', class: 'page style scandinavian', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/scandinavian/scandinavian-', qnt: 13}, button: {text: 'Заказать ёлку в скандинавском стиле'}, list2: []};


block append meta
  meta(name='description', content='')
  meta(name='keywords', content='натуралистичность')


block content
  +styles(page)
