extends ../../_layout

block vars

  - var description = 'Новый год для любого человека - это подарок. Несмотря на то, что мы все выросли, мы также ждем чуда и подарка. Удивить кого - то материальным не так-то просто. Но вот сделать так, чтобы даже самая простая вещь стала волшебной и новогодней для нас - реальность.'

  - var page = {title: 'Подарки', url: 'element/gift', type: 'element-page', class: 'page element gift', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/gift/gift-', qnt: 14}, button: {text: 'Заказать оформление c подарками'}, list2: []};


block content
  +element-page(page)
