extends ../../_layout

block vars

  - var description = 'Витрина - это визитная карточка любого магазина. Именно глядя на нее, покупатель принимает решение зайти или нет. Новогодняя тема – это интересная возможность привлечь внимание к себе и своему бренду. Вы должны быть лучшими, и мы знаем, как этого добиться.'


  - var page = {title: 'Витрины магазинов', url: 'zone/showcase', type: 'zone-page', class: 'page zone showcase', content: {desc: description, elements: elements}, list: [], breadcrumbs: [{link: 'zone', name: 'Оформление зон'}], slider: {path: 'zone/showcase/showcase-', qnt: 17}, button: {text: 'Заказать оформление витрины'}, list2: []};


block append meta
  meta(name='description', content='Украшение витрин магазинов. Брендирование. Витринистика')
  meta(name='keywords', content='магазины, бренд, окна, витринистика')


block content
  +zone-page(page)
