extends ../../_layout

block vars

  - var slogan = 'Подчеркни красоту своего интерьера наряженной ёлкой.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Часто интерьер дома бывает настолько подобранным, органичным и полноценным, что дополнительное «яркое пятно» его разрушает и ломает. Этот стиль декора вписывает ёлку в заданные стандарты помещения.<br>ОПИСАНИЕ ЁЛКИ<br>Ёлка полностью соответствует цветовой и стилистической палитре интерьера.<br>ЭЛЕМЕНТЫ<br>Могут быть любые элементы из разных стилей, не противоречащие общей концепции помещения.'

  - var page = {title: 'Ёлка в стилистике  интерьера', url: 'styles/interior', type: 'styles', class: 'page style interior', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/interior/interior-', qnt: 18}, button: {text: 'Заказать ёлку в стилистике интерьера'}, list2: []};


block append meta
  meta(name='description', content='Дизайн ёлки в стиле Вашего интерьера. Украшение елки под стиль помещения')
  meta(name='keywords', content='под интерьер, помещение, ёлка в помещение, елка в интерьере')


block content
  +styles(page)
