extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Подчеркни красоту своего интерьера наряженной ёлкой.<br>ОБЩЕЕ ОПИСАНИЕ<br>Часто интерьер дома бывает настолько подобранным, органичным и полноценным, что дополнительное «яркое пятно» его разрушает и ломает. Этот стиль декора вписывает ёлку в заданные стандарты помещения.<br>ОПИСАНИЕ ЁЛКИ<br>Ёлка полностью соответствует цветовой и стилистической палитре интерьера.<br>ЭЛЕМЕНТЫ<br>Могут быть любые элементы из разных стилей, не противоречащие общей концепции помещения.'

  - var page = {title: 'Ёлка в стилистике  интерьера', url: 'styles/interior', type: 'styles', class: 'page element interior', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/interior/interior-', qnt: 0}, button: {text: 'Заказать ёлку в стилистике интерьера'}, list2: []};


block content
  +element-page(page)
