extends ../../_layout

block vars

  - var description = 'Очень часто при плотном декорировании помещения стулья как бы выпадают из общего пространства. А ведь одна маленькая новогодняя и игривая деталь может их преобразить, и они тоже могут засиять новогодним блеском. Хотя если их сделать смешными, веселыми и улыбающимися, именно они могут стать главными или важными акцентами комнаты.'

  - var page = {title: 'Декор стульев', url: 'element/chairs', type: 'element-page', class: 'page element chairs', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/chairs/chairs-', qnt: 15}, button: {text: 'Заказать оформление cтульев'}, list2: []};


block append meta
  meta(name='description', content='Новогодний декор, украшение стульев')
  meta(name='keywords', content='декор стульев, украшение стульев')


block content
  +element-page(page)
