extends ../../_layout

block vars

  - var description = 'Сделайте себе настольную композицию и весь Новый год любая трапеза будет изысканно сервирована именно благодаря наличию этой композиции.'

  - var page = {title: 'Настольная композиция', url: 'element/table_composition', type: 'element-page', class: 'page element table_composition', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/table_composition/table_composition-', qnt: 0}, button: {text: 'Заказать оформление настольных композиций'}, list2: []};


block content
  +element-page(page)
