extends ../../_layout

block vars

  - var slogan = 'Задай смысл своему Новому Году'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>В этой ёлке всегда есть смысл, она что – то выражает. Часто может перекликаться с темой новогодней вечеринки.<br>ОПИСАНИЕ ЁЛКИ<br>Обычно берется конкретная тематика (Золушка, Щелкунчик, Гномы и т.п) и все украшение ёлки и помещения обыгрывает выбранную тематику.<br>ЭЛЕМЕНТЫ<br>Выбраны под заданную тематику'

  - var page = {title: 'Тематические ёлки', url: 'styles/theme', type: 'styles', class: 'page style theme', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/theme/theme-', qnt: 18}, button: {text: 'Заказать тематическую ёлку'}, list2: []};


block append meta
  meta(name='description', content='Тематическое украшение ёлки под Ваш праздник. Украшение в стиле сказок: щелкунчик, золушка, 12 месяцев, алиса в стране чудес')
  meta(name='keywords', content='щелкунчик, золушка, алиса в стране чудес, 12 месяцев, двенадцать месяцев')


block content
  +styles(page)
