extends ../../_layout

block vars

  - var description = ''

  - var page = {title: 'Тематические ёлки', url: 'styles/theme', type: 'styles', class: 'page element theme', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/theme/theme-', qnt: 0}, button: {text: 'Заказать тематическую ёлку'}, list2: []};


block content
  +element-page(page)
