extends ../../_layout

block vars

  - var slogan = 'Все мило, душевно, по-простому.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ СТИЛЯ.<br>Кантри стиль – это сельская простота для любителей неприкрытой романтической естественности.<br>ОПИСАНИЕ ЁЛКИ<br>Дом, уют, семейный очаг, простота, природа естественность.<br>ЭЛЕМЕНТЫ<br>Ёлка украшена с элементами простой деревенской жизни: пряники, дольки апельсинов, корица, мешочки из простой набивной ткани. Простая мешковина. Тона приглушенные, некричащие. Доп. Элементы: мелкий горошек, клетка, цветочный орнамент. Деревянные игрушки.'

  - var page = {title: 'Кантри-стиль', url: 'styles/country', type: 'styles', class: 'page style country', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/country/country-', qnt: 14}, button: {text: 'Заказать ёлку в стиле Кантри'}, list2: []};



block append meta
  meta(name='description', content='Ёлка в стиле кантри. Елка в деревенском стиле. Эко ёлка')
  meta(name='keywords', content='эко, кантри, деревня, ёлка')


block content
  +styles(page)
