extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Все мило, душевно, по-простому.<br>ОБЩЕЕ ОПИСАНИЕ СТИЛЯ.<br>Кантри стиль – это сельская простота для любителей неприкрытой романтической естественности.<br>ОПИСАНИЕ ЕЛКИ<br>Дом, уют, семейный очаг, простота, природа естественность.<br>ЭЛЕМЕНТЫ<br>Елка украшена с элементами простой деревенской жизни: пряники, дольки апельсинов, корица, мешочки из простой набивной ткани. Простая мешковина. Тона приглушенные, некричащие. Доп. Элементы: мелкий горошек, клетка, цветочный орнамент. Деревянные игрушки.'

  - var page = {title: 'Кантри-стиль', url: 'styles/country', type: 'styles', class: 'page element country', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/country/country-', qnt: 0}, button: {text: 'Заказать ёлку в стиле Кантри'}, list2: []};


block content
  +element-page(page)
