extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Создай свою гармонию в пространстве<br>ОБЩЕЕ ОПИСАНИЕ<br>Стиль, характеризующийся лаконичностью выразительных средств, простотой, точностью и ясностью композиции. Отвергая классические приёмы творчества и традиционные художественные материалы, минималисты используют промышленные и природные материалы простых геометрических форм, нейтральных цветов (черный, серый) и малых объемов.<br>ОПИСАНИЕ ЁЛКИ<br>Основной акцент – на выстраивании пространства, чтобы ничего не выпирало, все было скромно, выстроено и гармонично.<br>ЭЛЕМЕНТЫ<br>Бело – черный, коричневый, серебряные цвета. Возможно группа мини – ёлок. Использование хвороста. Возможно вплетение искусства экибаны.'

  - var page = {title: 'Минимализм', url: 'styles/minimalism', type: 'styles', class: 'page element minimalism', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/minimalism/minimalism-', qnt: 0}, button: {text: 'Заказать ёлку в стиле Минимализм'}, list2: []};


block content
  +element-page(page)
