extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Нежность, женственность и простота<br>ОБЩЕЕ ОПИСАНИЕ<br>Стиль служит отражением культуры и народных традиций Франции.  - Прованс – «провинция». Этот стиль воплощает дух Франции. Всегда легкий французский шик.<br>ОПИСАНИЕ ЕЛКИ<br>Характерна светлая цветовая гамма в пастельных тонах с элементами лавандового, мятного и песочных оттенков. Елка может быть украшена кружевами.<br>ЭЛЕМЕНТЫ<br>Знаковыми элементами  - элементы женского гардероба: булавки, шляпки, сумочки, зонтики). Используются ленты, бусы. Стиль игрушек – состаренный.'

  - var page = {title: 'Ёлка в стиле Прованс', url: 'styles/provence', type: 'styles', class: 'page element provence', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/provence/provence-', qnt: 0}, button: {text: 'Заказать ёлку в стиле Прованс'}, list2: []};


block content
  +element-page(page)
