extends ../../_layout

block vars

  - var slogan = 'Нежность, женственность и простота.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Стиль служит отражением культуры и народных традиций Франции. Прованс – «провинция». Этот стиль воплощает дух Франции. Всегда легкий французский шик.<br>ОПИСАНИЕ ЁЛКИ<br>Характерна светлая цветовая гамма в пастельных тонах с элементами лавандового, мятного и песочных оттенков. Ёлка может быть украшена кружевами.<br>ЭЛЕМЕНТЫ<br>Знаковыми элементами - элементы женского гардероба: булавки, шляпки, сумочки, зонтики). Используются ленты, бусы. Стиль игрушек – состаренный.'

  - var page = {title: 'Ёлка в стиле Прованс', url: 'styles/provence', type: 'styles', class: 'page style provence', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/provence/provence-', qnt: 12}, button: {text: 'Заказать ёлку в стиле Прованс'}, list2: []};


block append meta
  meta(name='description', content='Ёлка в стиле прованс. Французский новый год. Provence')
  meta(name='keywords', content='французский новый год, прованс')


block content
  +styles(page)
