extends _layout

block vars

	- var txt = 'Москва и МО:<p>+7-916-888-72-65 <p>+7-926-346-71-80 <p>+7-910-476-61-16\<p>Представительство в г.Воронеж: <p>+7-920-211-72-70 <p>decorelki@gmail.com <p>Instagram: <a href="https://www.instagram.com/le_decor_888/">@le_decor_888</a>'
	- var label = 'Вы можете оставить свои контактные данные, и мы свяжемся с Вами в ближайшее время'
	- var page = {title: 'Контакты', url: '', type: 'contact', class: 'page contact', content: {text: txt, lbl: label },list: []};


block content
	+contact-page(page)
