extends _layout

block vars

  - var page = {title: 'Главная', url: '', type: 'home', class: 'home list', content: {}, list: []};

  - page.list.push({title: 'Ёлки', link: 'styles', desc: 'стили оформления'})
  - page.list.push({title: 'Элементы', link: 'element', desc: 'аксессуары для оформления'})
  - page.list.push({title: 'Среда', link: 'zone', desc: 'что наряжаем?'})
  - page.list.push({title: 'Контакты', link: 'contact', desc: 'заказ'})


block content
  +front-page(page)


