extends ../../_layout

block vars

  - var description = 'Окно в любом помещении – это открытый диалог с миром. Еще с детства мы вырезали снежинки из бумаги и приклеивали их на окна. Конечно же, красиво задекорированное окно всегда подарит новогоднее настроение, особенно когда добавить что – то еще просто невозможно.'

  - var page = {title: 'Украшение штор и окон', url: 'element/curtains_windows', type: 'element-page', class: 'page element curtains_windows', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/curtains_windows/curtains_windows-', qnt: 0}, button: {text: 'Заказать оформление штор и окон'}, list2: []};


block content
  +element-page(page)
