extends ../../_layout

block vars

  - var description = 'В новый год это всегда центральная композиция праздника, которая символизирует дом Деда Мороза и задает стиль и колорит всему остальному помещению.'

  - var page = {title: 'Ёлка', url: 'element/fir', type: 'element-page', class: 'page element fir', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/fir/fir-', qnt: 11}, button: {text: 'Заказать оформление ёлки'}, list2: []};


block append meta
  meta(name='description', content='Украшение, новогодняя ёлка в вашем городе. Авторская работа')
  meta(name='keywords', content='елка, ёлка, ёлочка, новогодня ёлка, нг')


block content
  +element-page(page)
