extends ../../_layout

block vars

  - var slogan = 'Все мы родом из детства.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Пусть всё, что окружает вашего ребенка, будет радостным, добрым и светлым, как само детство.<br>ОПИСАНИЕ ЁЛКИ<br>Самая веселая, добрая и сказочная ёлка. Это ёлка, которая заставит Вас улыбнуться и вернуться в детство.<br>ЭЛЕМЕНТЫ<br>Забавные фигуры, сладости и пряники, мягкие игрушки как декор ёлки, эльфы, куклы, машины, домики. Под ёлкой всегда много подарков и коробок.'

  - var page = {title: 'Детская ёлка', url: 'styles/childrens_tree', type: 'styles', class: 'page style childrens_tree', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/childrens_tree/childrens_tree-', qnt: 0}, button: {text: 'Заказать детскую ёлку'}, list2: []};


block content
  +styles(page)
