extends ../../_layout

block vars

  - var slogan = 'Настоящая восточная сказка.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Восточный стиль, пожалуй, можно отнести к самым экзотичным и ярким. Восточная колористика напоминает то, что описывается в сказках: сочные краски, игра света, богатство, роскошь, красота...<br>ОПИСАНИЕ ЁЛКИ<br>Все краски востока у Вас в доме.<br>ЭЛЕМЕНТЫ<br>Насыщенные глубокие цвета, шелк, бархат, челмовидные формы игрушек. Драконы, птицы феникс, павлины, монеты, колокольчики, фонарики. Использование красного и золотого, иногда фиолетового.'

  - var page = {title: 'Восточный стиль', url: 'styles/east', type: 'styles', class: 'page style east', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/east/east-', qnt: 12}, button: {text: 'Заказать ёлку в Восточном стиле'}, list2: []};


block content
  +styles(page)
