extends ../../_layout

block vars

  - var description = ''

  - var page = {title: 'Восточный стиль', url: 'styles/east', type: 'styles', class: 'page element east', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/east/east-', qnt: 0}, button: {text: 'Заказать ёлку в восточном стиле'}, list2: []};


block content
  +element-page(page)
