extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Гуляй, русская душа.<br>ОБЩЕЕ ОПИСАНИЕ<br>Чаще всего проявляется в использовании  предметов прикладного народного творчества: гжель, дымковская игрушка, хохлома, палеха, жостово.<br>ОПИСАНИЕ ЁЛКИ<br>Обычно интересно вписываются в ёлку предметы украшений, выполненных в стиле ремесел или обыгрывается тема русских традиционных забав<br>ЭЛЕМЕНТЫ<br>Балалайки, гармошки, печи, брёвна, матрешки, лошади. Обычно используются колоритные Дед Мороз и Снегурочка.'

  - var page = {title: 'Русский стиль', url: 'styles/russian', type: 'styles', class: 'page element russian', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/russian/russian-', qnt: 0}, button: {text: 'Заказать русскую ёлку'}, list2: []};


block content
  +element-page(page)
