extends ../../_layout

block vars

  - var slogan = 'Поддержите свой корпоративный дух.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Этот вид ёлки – это всегда лицо компании<br>ОПИСАНИЕ ЁЛКИ<br>Обычно все очень стильно, выдержано, со вкусом.<br>ЭЛЕМЕНТЫ<br>Брендированные ленты и шарики. Цветовая гамма – использование колористики бренда компании. Могут быть шары, пряники, машинки, дома и другие символы бизнеса компании.'

  - var page = {title: 'Брендированные ёлки', url: 'styles/branded', type: 'styles', class: 'page style branded', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/branded/branded-', qnt: 11}, button: {text: 'Заказать брендированную ёлку'}, list2: []};


block append meta
  meta(name='description', content='')
  meta(name='keywords', content='корпоративная ёлка, корпоративный нг, крпоративный новый год')


block content
  +styles(page)
