extends ../../_layout

block vars

  - var slogan = 'Высокие технологии всегда везде и даже на ёлке.'
  
  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Хай-тек относится к ультрасовременным стилям. Дизайнеров вдохновил конструктивизм промышленных помещений, где все элементы обстановки подчиняются функциональному назначению. Индустриальная эстетика внедрилась в жилое помещение: вышла смесь высоких технологий и конструктивизма.<br>ОПИСАНИЕ ЁЛКИ<br>Самая необычная и во многом неорганическая ёлка. Часто вместо живой используются структурные композиции или необычный, нестандартный подход в украшении: черные или кислотные цвета шаров.<br>ЭЛЕМЕНТЫ<br>Лаконичные элементы в новогоднем декоре.'

  - var page = {title: 'Хай-тек', url: 'styles/hi_tech', type: 'styles', class: 'page style hi_tech', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/hi_tech/hi_tech-', qnt: 14}, button: {text: 'Заказать ёлку в стиле хай-тек'}, list2: []};


block append meta
  meta(name='description', content='')
  meta(name='keywords', content='световые конструкции, современная ёлка, hi tech, хай-тек, hi-tech елка')


block content
  +styles(page)
