extends ../../_layout

block vars

  - var description = 'ЛОЗУНГ<br>Высокие технологии всегда везде и даже на ёлке<br>ОБЩЕЕ ОПИСАНИЕ<br>Хай-тек относится к ультрасовременным стилям. Дизайнеров вдохновил конструктивизм промышленных помещений, где все элементы обстановки подчиняются функциональному назначению. Индустриальная эстетика внедрилась в жилое помещение: вышла смесь высоких технологий и конструктивизма.<br>ОПИСАНИЕ ЁЛКИ<br>Самая необычная и во многом неорганическая ёлка. Часто вместо живой используются структурные композиции или необычный, нестандартный подход в украшении: черные или кислотные цвета шаров.<br>ЭЛЕМЕНТЫ<br>Лаконичные элементы в новогоднем декоре.'

  - var page = {title: 'Хай-тек', url: 'styles/hi_tech', type: 'styles', class: 'page element hi_tech', content: {desc: description}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/hi_tech/hi_tech-', qnt: 0}, button: {text: 'Заказать ёлку в стиле хай-тек'}, list2: []};


block content
  +element-page(page)
