extends ../../_layout

block vars

  - var slogan = 'Любая ёлка может расцвести цветами.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Создайте истинно новогоднее чудо - переплетите прекрасное с прекрасным.<br>ОПИСАНИЕ ЁЛКИ<br>Всегда использование цветов (стабилизированных, искусственных, живых), много растений (пуанцетии и другие)<br>ЭЛЕМЕНТЫ<br>Заснеженные цветы, ленты мох – все необычно и обыгранно искусными цветочными композициями. Всегда шедевр.'

  - var page = {title: 'Флористические ёлки', url: 'styles/floristic', type: 'styles', class: 'page style floristic', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/floristic/floristic-', qnt: 14}, button: {text: 'Заказать флористическую ёлку'}, list2: []};


block append meta
  meta(name='description', content='Цветочная ёлка. Цветочный новый год. Украшение елки цветами')
  meta(name='keywords', content='цветы, растения, цветочный новый год')


block content
  +styles(page)
