extends ../../_layout

block vars

  - var description = 'Сочетание Нового года с цветами - это возможность удивить и поразить человека. Ведь она соединяет жизнь и сказку... - не важно это маленький букетик, как знак внимания, или большая настоящая, пахнущая ёлкой интерьерная композиция. Восторг обеспечен.'

  - var page = {title: 'Флористические композиции', url: 'element/floral_composition', type: 'element-page', class: 'page element floral_composition', content: {desc: description}, list: [], breadcrumbs: [{link: 'element', name: 'Элементы'}], slider: {path: 'element/floral_composition/floral_composition-', qnt: 16}, button: {text: 'Заказать оформление c цветочными композициями'}, list2: []};


block append meta
  meta(name='description', content='Новогодние цветочные композиции. Изготовление, авторские и дизайнерские')
  meta(name='keywords', content='цветы, цветовые композиции, новогодние букеты, дизайнерские букеты, авторские букеты')


block content
  +element-page(page)
