extends ../../_layout

block vars

  - var slogan = 'Роскошь, богатство, красота, изысканность.'

  - var description = 'ОБЩЕЕ ОПИСАНИЕ<br>Парадный, роскошный, торжественный — вот некоторые эпитеты, которые характеризуют понятие «европейский стиль». Это стиль роскоши и красоты. Однако, стиль невероятно коварный. Здесь, как нигде, необходимы хороший вкус и чувство меры.<br>ОПИСАНИЕ ЁЛКИ<br>Декорирование ёлки характеризует максимальное наполнение ёлки украшениями (хвоя почти не видна). Сочетания колористики цветов различное: от монохромной, до яркой, кричащей.<br>ЭЛЕМЕНТЫ<br>Короны, золото, блеск, парча, ангелы, гирлянды с имитациями драгоценностей.'

  - var page = {title: 'Европейский стиль', url: 'styles/european', type: 'styles', class: 'page style european', content: {desc: description, slgn: slogan}, list: [], breadcrumbs: [{link: 'styles', name: 'Стили'}], slider: {path: 'styles/european/european-', qnt: 17}, button: {text: 'Заказать ёлку в Европейском стиле'}, list2: []};


block content
  +styles(page)
